In [1]:
import pandas as pd
import numpy as np
import math
import operator
from itertools import combinations

In [2]:
def subsets(s):
    sets = []
    for i in range(1 << len(s)):
        subset = [s[bit] for bit in range(len(s)) if is_bit_set(i, bit)]
        sets.append(subset)
    return sets

def halfsubsets(s):
    sets = []
    for i in range(1 << len(s)):
        subset = [s[bit] for bit in range(len(s)) if is_bit_set(i, bit)]
        if(len(subset) <= len(s)/2):
            sets.append(subset)
    return sets

def is_bit_set(num, bit):
    return num & (1 << bit) > 0

# Load CSV Data

In [3]:
df = pd.read_csv('TestSample_100_XTable.csv')
del df['Unnamed: 0']

## Step 1. Create cut infoÂ¶

In [4]:
unique_X0 = sorted((df['Cont1']+1).unique())
unique_X1 = sorted((df['Cont2']+1).unique())
unique_X2 = sorted((df['Cont3']+1).unique())
unique_X3 = sorted((df['Ord1']+1).unique())
unique_X4 = sorted((df['Ord2']+1).unique())
unique_X5 = sorted((df['Ord3']+1).unique())
unique_X6 = sorted(df['Nom1'].unique())
sets_X6 = halfsubsets(unique_X6)
unique_X7 = sorted(df['Nom2'].unique())
sets_X7 = halfsubsets(unique_X7)
unique_X8 = sorted(df['Nom3'].unique())
sets_X8 = halfsubsets(unique_X8)

In [5]:
var_dict = {0:10,1:10,2:10,3:5,4:5,5:5,6:16,7:16,8:16}
var = [0,1,2,3,4,5,6,7,8]
var_comb = list(combinations(var,1))
var_info = pd.DataFrame(var_comb)
var_info.columns = ['var i']
var_info['N'] = var_info['var i'].map(var_dict) 
var_info['N'].sum(axis = 0)

93

In [6]:
var_info['cum_N'] = var_info['N'].cumsum()
var_info

   var i   N  cum_N
0      0  10     10
1      1  10     20
2      2  10     30
3      3   5     35
4      4   5     40
5      5   5     45
6      6  16     61
7      7  16     77
8      8  16     93

## Step 2. Search

### Case 1. var 0 (Cont 1)

In [7]:
Results = []
k = 0
for i in unique_X0:
    X_Search = df.copy()[['Cont1','A','Y']];
    X_Search['D'] = df['Cont1'].apply(lambda x : 1 if x<i else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X0 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X0 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X0 <1: 35.63502
1 	Choice for X0 >=1: 55.3229314
2 	Choice for X0 <2: 38.276296
3 	Choice for X0 >=2: 52.6816554
4 	Choice for X0 <3: 42.032956
5 	Choice for X0 >=3: 48.9249954
6 	Choice for X0 <4: 44.094414
7 	Choice for X0 >=4: 46.8635374
8 	Choice for X0 <5: 40.363062
9 	Choice for X0 >=5: 50.5948894
10 	Choice for X0 <6: 41.285908
11 	Choice for X0 >=6: 49.6720434
12 	Choice for X0 <7: 50.0887154
13 	Choice for X0 >=7: 40.869236
14 	Choice for X0 <8: 52.8049614
15 	Choice for X0 >=8: 38.15299
16 	Choice for X0 <9: 58.3572554
17 	Choice for X0 >=9: 32.600696
18 	Choice for X0 <10: 56.8355874
19 	Choice for X0 >=10: 34.122364

In [8]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 16
max: 58.3572554

### Case 2. var1 (Cont 2)

In [9]:
Results = []
k = 0
for i in unique_X1:
    X_Search = df.copy()[['Cont2','A','Y']];
    X_Search['D'] = df['Cont2'].apply(lambda x : 1 if x<i else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X1 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X1 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X1 <1: 32.206456
1 	Choice for X1 >=1: 58.7514954
2 	Choice for X1 <2: 31.895356
3 	Choice for X1 >=2: 59.0625954
4 	Choice for X1 <3: 33.25742
5 	Choice for X1 >=3: 57.7005314
6 	Choice for X1 <4: 30.3150994
7 	Choice for X1 >=4: 60.642852
8 	Choice for X1 <5: 29.6733734
9 	Choice for X1 >=5: 61.284578
10 	Choice for X1 <6: 35.9514454
11 	Choice for X1 >=6: 55.006506
12 	Choice for X1 <7: 43.8065354
13 	Choice for X1 >=7: 47.151416
14 	Choice for X1 <8: 50.0044154
15 	Choice for X1 >=8: 40.953536
16 	Choice for X1 <9: 54.4178954
17 	Choice for X1 >=9: 36.540056
18 	Choice for X1 <10: 56.8355874
19 	Choice for X1 >=10: 34.122364

In [10]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 9
max: 61.284578

### Case 3. var 2 (Cont 3)

In [11]:
Results = []
k = 0
for i in unique_X2:
    X_Search = df.copy()[['Cont3','A','Y']];
    X_Search['D'] = df['Cont3'].apply(lambda x : 1 if x<i else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X2 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X2 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X2 <1: 38.930102
1 	Choice for X2 >=1: 52.0278494
2 	Choice for X2 <2: 45.110042
3 	Choice for X2 >=2: 45.8479094
4 	Choice for X2 <3: 43.9285394
5 	Choice for X2 >=3: 47.029412
6 	Choice for X2 <4: 45.5578814
7 	Choice for X2 >=4: 45.40007
8 	Choice for X2 <5: 41.4163094
9 	Choice for X2 >=5: 49.541642
10 	Choice for X2 <6: 41.7051834
11 	Choice for X2 >=6: 49.252768
12 	Choice for X2 <7: 48.2001334
13 	Choice for X2 >=7: 42.757818
14 	Choice for X2 <8: 52.7313874
15 	Choice for X2 >=8: 38.226564
16 	Choice for X2 <9: 54.2355754
17 	Choice for X2 >=9: 36.722376
18 	Choice for X2 <10: 56.8355874
19 	Choice for X2 >=10: 34.122364

In [12]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 18
max: 56.8355874

### Case 4. var 3 (Ord 1)

In [13]:
Results = []
k = 0
for i in unique_X3:
    X_Search = df.copy()[['Ord1','A','Y']];
    X_Search['D'] = df['Ord1'].apply(lambda x : 1 if x<i else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X3 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X3 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X3 <1: 37.333322
1 	Choice for X3 >=1: 53.6246294
2 	Choice for X3 <2: 38.399154
3 	Choice for X3 >=2: 52.5587974
4 	Choice for X3 <3: 42.342138
5 	Choice for X3 >=3: 48.6158134
6 	Choice for X3 <4: 50.0971654
7 	Choice for X3 >=4: 40.860786
8 	Choice for X3 <5: 56.8355874
9 	Choice for X3 >=5: 34.122364

In [14]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 8
max: 56.8355874

### Case 5. var 4 (Ord 2)

In [15]:
Results = []
k = 0
for i in unique_X4:
    X_Search = df.copy()[['Ord2','A','Y']];
    X_Search['D'] = df['Ord2'].apply(lambda x : 1 if x<i else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X4 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X4 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X4 <1: 37.345148
1 	Choice for X4 >=1: 53.6128034
2 	Choice for X4 <2: 41.801006
3 	Choice for X4 >=2: 49.1569454
4 	Choice for X4 <3: 48.1087234
5 	Choice for X4 >=3: 42.849228
6 	Choice for X4 <4: 55.9730514
7 	Choice for X4 >=4: 34.9849
8 	Choice for X4 <5: 56.8355874
9 	Choice for X4 >=5: 34.122364

In [16]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 8
max: 56.8355874

### Case 6. var 5 (Ord 3)

In [17]:
Results = []
k = 0
for i in unique_X5:
    X_Search = df.copy()[['Ord3','A','Y']];
    X_Search['D'] = df['Ord3'].apply(lambda x : 1 if x<i else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X5 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X5 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X5 <1: 32.921272
1 	Choice for X5 >=1: 58.0366794
2 	Choice for X5 <2: 44.071096
3 	Choice for X5 >=2: 46.8868554
4 	Choice for X5 <3: 43.673372
5 	Choice for X5 >=3: 47.2845794
6 	Choice for X5 <4: 49.4834134
7 	Choice for X5 >=4: 41.474538
8 	Choice for X5 <5: 56.8355874
9 	Choice for X5 >=5: 34.122364

In [18]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 1
max: 58.0366794

### Case 7. var 6 (Nom 1)

In [19]:
Results = []
k = 0
for i in range(len(sets_X6)):
    X_Search = df.copy()[['Nom1','A','Y']];
    X_Search['D'] = df['Nom1'].apply(lambda x : 1 if x in sets_X6[i] else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X6 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X6 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X6 <0: 34.122364
1 	Choice for X6 >=0: 56.8355874
2 	Choice for X6 <1: 41.138344
3 	Choice for X6 >=1: 49.8196074
4 	Choice for X6 <2: 30.694016
5 	Choice for X6 >=2: 60.2639354
6 	Choice for X6 <3: 37.709996
7 	Choice for X6 >=3: 53.2479554
8 	Choice for X6 <4: 44.1934794
9 	Choice for X6 >=4: 46.764472
10 	Choice for X6 <5: 51.2094594
11 	Choice for X6 >=5: 39.748492
12 	Choice for X6 <6: 40.7651314
13 	Choice for X6 >=6: 50.19282
14 	Choice for X6 <7: 39.606242
15 	Choice for X6 >=7: 51.3517094
16 	Choice for X6 <8: 46.622222
17 	Choice for X6 >=8: 44.3357294
18 	Choice for X6 <9: 36.177894
19 	Choice for X6 >=9: 54.7800574
20 	Choice for X6 <10: 49.6773574
21 	Choice for X6 >=10: 41.280594
22 	Choice for X6 <11: 37.692962
23 	Choice for X6 >=11: 53.2649894
24 	Choice for X6 <12: 44.708942
25 	Choice for X6 >=12: 46.2490094
26 	Choice for X6 <13: 34.264614
27 	Choice for X6 >=13: 56.6933374
28 	Choice for X6 <14: 47.7640774
29 	Choice for X6 >=14: 43.193874
30 	Choice for X6 <15: 43.17684
31 	Choice for X6 >=15: 47.7811114

In [20]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 5
max: 60.2639354

### Case 8. var 7 (Nom 2)

In [21]:
Results = []
k = 0
for i in range(len(sets_X7)):
    X_Search = df.copy()[['Nom2','A','Y']];
    X_Search['D'] = df['Nom2'].apply(lambda x : 1 if x in sets_X7[i] else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X7 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X7 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X7 <0: 34.122364
1 	Choice for X7 >=0: 56.8355874
2 	Choice for X7 <1: 40.317024
3 	Choice for X7 >=1: 50.6409274
4 	Choice for X7 <2: 42.438954
5 	Choice for X7 >=2: 48.5189974
6 	Choice for X7 <3: 48.633614
7 	Choice for X7 >=3: 42.3243374
8 	Choice for X7 <4: 39.744408
9 	Choice for X7 >=4: 51.2135434
10 	Choice for X7 <5: 45.939068
11 	Choice for X7 >=5: 45.0188834
12 	Choice for X7 <6: 48.060998
13 	Choice for X7 >=6: 42.8969534
14 	Choice for X7 <7: 38.6230474
15 	Choice for X7 >=7: 52.334904
16 	Choice for X7 <8: 44.8177074
17 	Choice for X7 >=8: 46.140244
18 	Choice for X7 <9: 46.9396374
19 	Choice for X7 >=9: 44.018314
20 	Choice for X7 <10: 44.2450914
21 	Choice for X7 >=10: 46.71286
22 	Choice for X7 <11: 32.20161
23 	Choice for X7 >=11: 58.7563414
24 	Choice for X7 <12: 38.39627
25 	Choice for X7 >=12: 52.5616814
26 	Choice for X7 <13: 40.5182
27 	Choice for X7 >=13: 50.4397514
28 	Choice for X7 <14: 37.823654
29 	Choice for X7 >=14: 53.1342974
30 	Choice for X7 <15: 36.7022934
31 	Choice for X7 >=15: 54.255658

In [22]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 23
max: 58.7563414

### Case 9. var 8 (Nom 3)

In [23]:
Results = []
k = 0
for i in range(len(sets_X8)):
    X_Search = df.copy()[['Nom3','A','Y']];
    X_Search['D'] = df['Nom3'].apply(lambda x : 1 if x in sets_X8[i] else 0)
    X_Search['E'] = np.where(X_Search['D']==X_Search['A'], 0, 1)
    E_X_Search_L = sum(X_Search['Y']*X_Search['E'])*2/df.shape[0]
    E_X_Search_R = sum(X_Search['Y']*(1-X_Search['E']))*2/df.shape[0]
    print(str(k)+" \tChoice for X8 <"+str(i)+": " + str(E_X_Search_L))
    k = k+1
    print(str(k)+" \tChoice for X8 >="+str(i)+": " + str(E_X_Search_R))
    k = k+1
    Results.append(E_X_Search_L) 
    Results.append(E_X_Search_R)

0 	Choice for X8 <0: 34.122364
1 	Choice for X8 >=0: 56.8355874
2 	Choice for X8 <1: 40.000362
3 	Choice for X8 >=1: 50.9575894
4 	Choice for X8 <2: 32.27922
5 	Choice for X8 >=2: 58.6787314
6 	Choice for X8 <3: 38.157218
7 	Choice for X8 >=3: 52.8007334
8 	Choice for X8 <4: 43.8414114
9 	Choice for X8 >=4: 47.11654
10 	Choice for X8 <5: 49.7194094
11 	Choice for X8 >=5: 41.238542
12 	Choice for X8 <6: 41.9982674
13 	Choice for X8 >=6: 48.959684
14 	Choice for X8 <7: 38.414678
15 	Choice for X8 >=7: 52.5432734
16 	Choice for X8 <8: 44.292676
17 	Choice for X8 >=8: 46.6652754
18 	Choice for X8 <9: 36.571534
19 	Choice for X8 >=9: 54.3864174
20 	Choice for X8 <10: 48.1337254
21 	Choice for X8 >=10: 42.824226
22 	Choice for X8 <11: 38.789372
23 	Choice for X8 >=11: 52.1685794
24 	Choice for X8 <12: 44.66737
25 	Choice for X8 >=12: 46.2905814
26 	Choice for X8 <13: 36.946228
27 	Choice for X8 >=13: 54.0117234
28 	Choice for X8 <14: 48.5084194
29 	Choice for X8 >=14: 42.449532
30 	Choice for X8 <15: 43.081686
31 	Choice for X8 >=15: 47.8762654

In [24]:
index, value = max(enumerate(Results), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 5
max: 58.6787314