In [1]:
import pandas as pd
import numpy as np
import math
import operator
from itertools import combinations

In [2]:
def subsets(s):
    sets = []
    for i in range(1 << len(s)):
        subset = [s[bit] for bit in range(len(s)) if is_bit_set(i, bit)]
        sets.append(subset)
    return sets

def halfsubsets(s):
    sets = []
    for i in range(1 << len(s)):
        subset = [s[bit] for bit in range(len(s)) if is_bit_set(i, bit)]
        if(len(subset) <= len(s)/2):
            sets.append(subset)
    return sets

def is_bit_set(num, bit):
    return num & (1 << bit) > 0

# Load CSV Data

In [3]:
df = pd.read_csv('TestSample_100_XTable.csv')
del df['Unnamed: 0']
df.head(n = 20)

    ID  Cont1  Cont2  Cont3  Ord1  Ord2  Ord3  Nom1  Nom2  Nom3  A        Y
0    1      0      1      7     4     2     0     4     3     3  0  31.2112
1    2      9      0      3     0     3     3     2     3     3  0  20.8458
2    3      2      7      0     1     3     3     4     1     3  0  94.7321
3    4      2      3      0     0     0     2     3     2     0  1  22.4179
4    5      4      4      2     2     3     4     1     4     1  1  15.0723
5    6      9      4      1     4     0     2     2     3     4  1  21.5173
6    7      1      2      9     3     1     2     2     0     4  0  29.9679
7    8      1      8      2     3     1     0     4     3     3  0   0.4875
8    9      0      2      8     0     2     0     1     4     1  1  63.6878
9   10      8      4      3     4     1     4     1     4     2  1  19.1140
10  11      0      6      7     4     1     0     2     1     0  0  53.2881
11  12      6      3      4     4     0     3     0     4     2  1  12.4483
12  13      0      3      8     1     3     2     0     0     2  1  66.6412
13  14      5      4      5     0     1     1     4     2     0  0  43.0738
14  15      6      7      8     4     0     0     0     0     1  0  28.1982
15  16      3      9      8     3     4     3     4     0     2  0  68.7704
16  17      3      8      2     0     0     1     4     2     1  1  11.3406
17  18      9      8      9     1     2     2     3     3     1  1  89.9747
18  19      5      3      0     3     4     2     2     4     0  0  15.1390
19  20      5      6      2     4     4     1     0     0     1  0  79.8410

## Step 1. Create cut info

In [4]:
unique_X0 = sorted((df['Cont1']+1).unique())
unique_X1 = sorted((df['Cont2']+1).unique())
unique_X2 = sorted((df['Cont3']+1).unique())
unique_X3 = sorted((df['Ord1']+1).unique())
unique_X4 = sorted((df['Ord2']+1).unique())
unique_X5 = sorted((df['Ord3']+1).unique())
unique_X6 = sorted(df['Nom1'].unique())
sets_X6 = halfsubsets(unique_X6)
unique_X7 = sorted(df['Nom2'].unique())
sets_X7 = halfsubsets(unique_X7)
unique_X8 = sorted(df['Nom3'].unique())
sets_X8 = halfsubsets(unique_X8)

In [5]:
var_dict = {0:10,1:10,2:10,3:5,4:5,5:5,6:16,7:16,8:16}
var = [0,1,2,3,4,5,6,7,8]
var_comb = list(combinations(var,2))
var_info = pd.DataFrame(var_comb)
var_info.columns = ['var i', 'var j']
var_info['N'] = var_info['var i'].map(var_dict) * var_info['var j'].map(var_dict)
var_info['N'].sum(axis = 0)

3753

In [6]:
var_info['cum_N'] = var_info['N'].cumsum()
var_info

    var i  var j    N  cum_N
0       0      1  100    100
1       0      2  100    200
2       0      3   50    250
3       0      4   50    300
4       0      5   50    350
5       0      6  160    510
6       0      7  160    670
7       0      8  160    830
8       1      2  100    930
9       1      3   50    980
10      1      4   50   1030
11      1      5   50   1080
12      1      6  160   1240
13      1      7  160   1400
14      1      8  160   1560
15      2      3   50   1610
16      2      4   50   1660
17      2      5   50   1710
18      2      6  160   1870
19      2      7  160   2030
20      2      8  160   2190
21      3      4   25   2215
22      3      5   25   2240
23      3      6   80   2320
24      3      7   80   2400
25      3      8   80   2480
26      4      5   25   2505
27      4      6   80   2585
28      4      7   80   2665
29      4      8   80   2745
30      5      6   80   2825
31      5      7   80   2905
32      5      8   80   2985
33      6      7  256   3241
34      6      8  256   3497
35      7      8  256   3753

## Step 2. Search

In [7]:
X_Search = df.copy()[['Cont1','Cont2','A','Y']];
X_Search['C1'] = df['Cont1'].apply(lambda x : 1 if x<2 else 0)
X_Search['C2'] = df['Cont2'].apply(lambda x : 1 if x<3 else 0)
X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)

In [8]:
X_Search[['D1','D2','D3','D4']].sum(axis=0)

D1     8
D2    22
D3    12
D4    58
dtype: int64

In [9]:
sum(X_Search[['D1','D2','D3','D4']].sum(axis=0))

100

In [10]:
X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)

In [11]:
E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
E

[36.014317999999982,
 54.078689400000002,
 59.097565400000001,
 55.438553400000004]

In [12]:
index, value = max(enumerate(E), key=operator.itemgetter(1))
print("index: "+str(index))
print("max: "+str(value))

index: 2
max: 59.0975654

### Case 1. var0 and var1 (Cont 1 and Cont 2)

In [13]:
for i in unique_X0:
    for j in unique_X1: 
        X_Search = df.copy()[['Cont1','Cont2','A','Y']];
        X_Search['C1'] = df['Cont1'].apply(lambda x : 1 if x<i else 0)
        X_Search['C2'] = df['Cont2'].apply(lambda x : 1 if x<j else 0)
        X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
        X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
        X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
        X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)
        X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
        X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
        X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
        X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)
        E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
        E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
        E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
        E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
        E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
        index, value = max(enumerate(E), key=operator.itemgetter(1))
        print("x0 "+str(i)+" x1 "+str(j),value,index)

x0 1 x1 1 57.8523594 3
x0 1 x1 2 61.2139794 1
x0 1 x1 3 58.5781594 1
x0 1 x1 4 60.187656 1
x0 1 x1 5 60.829382 1
x0 1 x1 6 57.2907834 3
x0 1 x1 7 56.2250214 3
x0 1 x1 8 57.3404674 2
x0 1 x1 9 57.3404674 2
x0 1 x1 10 56.8355874 0
x0 2 x1 1 57.8523594 3
x0 2 x1 2 60.7741974 1
x0 2 x1 3 59.0975654 1
x0 2 x1 4 60.707062 1
x0 2 x1 5 61.085208 1
x0 2 x1 6 56.1222674 3
x0 2 x1 7 55.0694094 2
x0 2 x1 8 56.2315814 2
x0 2 x1 9 57.3404674 2
x0 2 x1 10 56.8355874 0
x0 3 x1 1 59.7023954 3
x0 3 x1 2 60.8270694 1
x0 3 x1 3 59.1504374 1
x0 3 x1 4 60.311576 1
x0 3 x1 5 61.766306 1
x0 3 x1 6 57.048886 1
x0 3 x1 7 54.0383434 2
x0 3 x1 8 57.0123194 2
x0 3 x1 9 57.3404674 2
x0 3 x1 10 56.8355874 0
x0 4 x1 1 59.7023954 3
x0 4 x1 2 60.8270694 1
x0 4 x1 3 58.5435314 1
x0 4 x1 4 59.52892 1
x0 4 x1 5 60.98365 1
x0 4 x1 6 57.581448 1
x0 4 x1 7 52.797326 1
x0 4 x1 8 56.0443294 2
x0 4 x1 9 56.1456654 2
x0 4 x1 10 56.8355874 0
x0 5 x1 1 59.7023954 3
x0 5 x1 2 58.2965474 3
x0 5 x1 3 58.7064254 3
x0 5 x1 4 60.6633574 3
x0 5 x1 5 60.1517994 3
x0 5 x1 6 58.1565554 3
x0 5 x1 7 55.0855874 3
x0 5 x1 8 55.9067394 2
x0 5 x1 9 56.0080754 2
x0 5 x1 10 56.8355874 0
x0 6 x1 1 59.7023954 3
x0 6 x1 2 58.2965474 3
x0 6 x1 3 58.0006534 3
x0 6 x1 4 61.1499754 3
x0 6 x1 5 61.1443034 3
x0 6 x1 6 59.1490594 3
x0 6 x1 7 54.1512794 3
x0 6 x1 8 56.1175394 2
x0 6 x1 9 56.2188754 2
x0 6 x1 10 56.8355874 0
x0 7 x1 1 59.7023954 3
x0 7 x1 2 58.2965474 3
x0 7 x1 3 58.3287274 1
x0 7 x1 4 59.41632 3
x0 7 x1 5 60.0280914 1
x0 7 x1 6 55.957328 3
x0 7 x1 7 54.9643174 1
x0 7 x1 8 54.8577094 1
x0 7 x1 9 56.2188754 2
x0 7 x1 10 56.8355874 0
x0 8 x1 1 62.5633994 3
x0 8 x1 2 61.1575514 3
x0 8 x1 3 59.0683954 3
x0 8 x1 4 62.010716 3
x0 8 x1 5 60.68647 3
x0 8 x1 6 56.849434 3
x0 8 x1 7 54.8796314 0
x0 8 x1 8 54.8796314 0
x0 8 x1 9 56.2188754 2
x0 8 x1 10 56.8355874 0
x0 9 x1 1 58.4815334 3
x0 9 x1 2 58.7269714 1
x0 9 x1 3 58.7269714 1
x0 9 x1 4 58.751468 3
x0 9 x1 5 60.3106634 1
x0 9 x1 6 58.5904834 1
x0 9 x1 7 58.3587414 1
x0 9 x1 8 58.3587414 1
x0 9 x1 9 60.1582354 1
x0 9 x1 10 58.3572554 1
x0 10 x1 1 58.7514954 3
x0 10 x1 2 59.0625954 3
x0 10 x1 3 57.7005314 3
x0 10 x1 4 60.642852 3
x0 10 x1 5 61.284578 3
x0 10 x1 6 56.8355874 0
x0 10 x1 7 56.8355874 0
x0 10 x1 8 56.8355874 0
x0 10 x1 9 56.8355874 0
x0 10 x1 10 56.8355874 0

### Case 2. var4 and var5 (Ord 2 and Ord 3)

In [14]:
for i in unique_X4:
    for j in unique_X5: 
        X_Search = df.copy()[['Ord2','Ord3','A','Y']];
        X_Search['C1'] = df['Ord2'].apply(lambda x : 1 if x<i else 0)
        X_Search['C2'] = df['Ord3'].apply(lambda x : 1 if x<j else 0)
        X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
        X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
        X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
        X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)
        X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
        X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
        X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
        X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)
        E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
        E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
        E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
        E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
        E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
        index, value = max(enumerate(E), key=operator.itemgetter(1))
        print("x4 "+str(i)+" x5 "+str(j),value,index)

x4 1 x5 1 57.5749274 3
x4 1 x5 2 56.3947694 3
x4 1 x5 3 56.1998234 3
x4 1 x5 4 55.5489314 2
x4 1 x5 5 56.8355874 0
x4 2 x5 1 57.6864274 1
x4 2 x5 2 55.7273114 3
x4 2 x5 3 53.6089794 3
x4 2 x5 4 53.4855594 2
x4 2 x5 5 56.8355874 0
x4 3 x5 1 58.5825574 1
x4 3 x5 2 53.0363934 0
x4 3 x5 3 54.1122574 1
x4 3 x5 4 54.3839054 0
x4 3 x5 5 56.8355874 0
x4 4 x5 1 58.7436554 1
x4 4 x5 2 57.2675194 0
x4 4 x5 3 57.9435474 1
x4 4 x5 4 57.3919594 1
x4 4 x5 5 56.8355874 0
x4 5 x5 1 58.0366794 3
x4 5 x5 2 56.8355874 0
x4 5 x5 3 56.8355874 0
x4 5 x5 4 56.8355874 0
x4 5 x5 5 56.8355874 0

### Case 3. var6 and var8 (Nom 1 and Nom 3)

In [15]:
for i in range(len(sets_X6)):
    for j in range(len(sets_X8)):
        X_Search = df.copy()[['Nom1','Nom3','A','Y']];
        X_Search['C1'] = df['Nom1'].apply(lambda x : 1 if x in sets_X6[i] else 0)
        X_Search['C2'] = df['Nom3'].apply(lambda x : 1 if x in sets_X8[j] else 0)
        X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
        X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
        X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
        X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)
        X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
        X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
        X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
        X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)
        E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
        E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
        E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
        E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
        E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
        index, value = max(enumerate(E), key=operator.itemgetter(1))
        print("x6 "+str(i)+" x8 "+str(j),value,index)

x6 0 x8 0 56.8355874 1
x6 0 x8 1 56.8355874 2
x6 0 x8 2 58.6787314 1
x6 0 x8 3 56.8355874 2
x6 0 x8 4 56.8355874 2
x6 0 x8 5 56.8355874 2
x6 0 x8 6 56.8355874 2
x6 0 x8 7 56.8355874 2
x6 0 x8 8 56.8355874 2
x6 0 x8 9 56.8355874 2
x6 0 x8 10 56.8355874 2
x6 0 x8 11 56.8355874 2
x6 0 x8 12 56.8355874 2
x6 0 x8 13 56.8355874 2
x6 0 x8 14 56.8355874 2
x6 0 x8 15 56.8355874 2
x6 1 x8 0 56.8355874 1
x6 1 x8 1 54.3535774 3
x6 1 x8 2 62.3569314 1
x6 1 x8 3 58.9609434 1
x6 1 x8 4 58.0754934 3
x6 1 x8 5 55.5934834 3
x6 1 x8 6 54.3972934 3
x6 1 x8 7 55.4286174 3
x6 1 x8 8 53.7085874 2
x6 1 x8 9 59.4715874 1
x6 1 x8 10 56.6685234 3
x6 1 x8 11 56.1468814 3
x6 1 x8 12 53.6648714 3
x6 1 x8 13 58.3786294 1
x6 1 x8 14 57.3867874 3
x6 1 x8 15 54.7399114 3
x6 2 x8 0 60.2639354 2
x6 2 x8 1 59.0928394 3
x6 2 x8 2 59.6342234 2
x6 2 x8 3 59.7225514 3
x6 2 x8 4 59.6708554 2
x6 2 x8 5 59.6859194 3
x6 2 x8 6 59.0411434 2
x6 2 x8 7 60.3156314 2
x6 2 x8 8 59.0411434 3
x6 2 x8 9 59.6859194 2
x6 2 x8 10 59.7225514 2
x6 2 x8 11 60.2639354 2
x6 2 x8 12 59.0928394 3
x6 2 x8 13 59.6342234 2
x6 2 x8 14 59.6708554 2
x6 2 x8 15 60.3156314 2
x6 3 x8 0 56.8355874 1
x6 3 x8 1 56.6108294 3
x6 3 x8 2 61.7272194 1
x6 3 x8 3 56.5212014 2
x6 3 x8 4 58.6685734 3
x6 3 x8 5 58.4438154 3
x6 3 x8 6 55.6200854 3
x6 3 x8 7 55.3769214 3
x6 3 x8 8 55.1521634 3
x6 3 x8 9 58.8935714 1
x6 3 x8 10 57.2099074 3
x6 3 x8 11 56.1468814 3
x6 3 x8 12 55.9221234 3
x6 3 x8 13 57.7489174 1
x6 3 x8 14 57.9798674 3
x6 3 x8 15 55.3953274 2
x6 4 x8 0 56.8355874 1
x6 4 x8 1 55.1115494 1
x6 4 x8 2 58.3152614 3
x6 4 x8 3 55.4750194 1
x6 4 x8 4 55.243692 3
x6 4 x8 5 54.0446694 0
x6 4 x8 6 56.723366 3
x6 4 x8 7 55.3492794 3
x6 4 x8 8 52.40474 2
x6 4 x8 9 56.8289534 3
x6 4 x8 10 55.1266374 0
x6 4 x8 11 56.4872054 1
x6 4 x8 12 55.237058 2
x6 4 x8 13 56.8506754 1
x6 4 x8 14 52.6749934 2
x6 4 x8 15 53.6811994 1
x6 5 x8 0 56.8355874 1
x6 5 x8 1 57.5935594 1
x6 5 x8 2 60.8772574 1
x6 5 x8 3 61.6352294 1
x6 5 x8 4 60.5765174 0
x6 5 x8 5 59.8185454 0
x6 5 x8 6 56.5348474 0
x6 5 x8 7 55.4365514 1
x6 5 x8 8 56.1945234 1
x6 5 x8 9 59.4782214 1
x6 5 x8 10 61.9755534 0
x6 5 x8 11 57.1759114 1
x6 5 x8 12 57.9338834 1
x6 5 x8 13 61.2175814 1
x6 5 x8 14 60.2361934 0
x6 5 x8 15 55.7768754 1
x6 6 x8 0 56.8355874 1
x6 6 x8 1 54.9388794 3
x6 6 x8 2 58.9449734 3
x6 6 x8 3 57.0482654 3
x6 6 x8 4 55.836772 3
x6 6 x8 5 53.940064 3
x6 6 x8 6 57.946158 3
x6 6 x8 7 55.2975834 3
x6 6 x8 8 53.627532 2
x6 6 x8 9 57.4069694 3
x6 6 x8 10 54.298768 3
x6 6 x8 11 56.4872054 1
x6 6 x8 12 56.408154 2
x6 6 x8 13 56.2209634 1
x6 6 x8 14 55.5102614 2
x6 6 x8 15 56.04945 2
x6 7 x8 0 56.8355874 1
x6 7 x8 1 59.0255914 3
x6 7 x8 2 58.8507174 1
x6 7 x8 3 58.8536054 3
x6 7 x8 4 58.8800354 2
x6 7 x8 5 56.6900314 2
x6 7 x8 6 59.0520214 2
x6 7 x8 7 56.5216934 3
x6 7 x8 8 58.7116974 3
x6 7 x8 9 56.3497074 3
x6 7 x8 10 59.1939294 2
x6 7 x8 11 57.1759114 3
x6 7 x8 12 59.3659154 3
x6 7 x8 13 57.0039254 3
x6 7 x8 14 58.5397114 2
x6 7 x8 15 56.8620174 3
x6 8 x8 0 56.8355874 1
x6 8 x8 1 56.5435814 3
x6 8 x8 2 62.5289174 1
x6 8 x8 3 56.9429254 1
x6 8 x8 4 53.40496 1
x6 8 x8 5 55.6388414 0
x6 8 x8 6 59.09829 1
x6 8 x8 7 55.1147234 3
x6 8 x8 8 54.8227174 3
x6 8 x8 9 59.9574674 1
x6 8 x8 10 52.6242994 0
x6 8 x8 11 56.4872054 3
x6 8 x8 12 56.52684 0
x6 8 x8 13 58.2102914 1
x6 8 x8 14 54.3714754 0
x6 8 x8 15 54.7663414 3
x6 9 x8 0 56.8355874 1
x6 9 x8 1 61.2828434 3
x6 9 x8 2 58.2210054 1
x6 9 x8 3 61.7405694 3
x6 9 x8 4 61.7153034 2
x6 9 x8 5 57.2680474 2
x6 9 x8 6 61.2575774 2
x6 9 x8 7 56.4699974 3
x6 9 x8 8 60.9172534 3
x6 9 x8 9 56.9277234 3
x6 9 x8 10 62.0808934 2
x6 9 x8 11 57.1759114 3
x6 9 x8 12 61.6231674 3
x6 9 x8 13 57.6336374 3
x6 9 x8 14 61.3749794 2
x6 9 x8 15 56.8103214 3
x6 10 x8 0 56.8355874 1
x6 10 x8 1 54.8716314 3
x6 10 x8 2 58.1432754 3
x6 10 x8 3 56.1793194 3
x6 10 x8 4 56.2367614 1
x6 10 x8 5 54.1902254 0
x6 10 x8 6 56.7722174 1
x6 10 x8 7 55.0353854 3
x6 10 x8 8 56.0835114 0
x6 10 x8 9 56.3430734 3
x6 10 x8 10 53.7446494 1
x6 10 x8 11 56.1468814 1
x6 10 x8 12 54.2801054 0
x6 10 x8 13 56.6823374 1
x6 10 x8 14 55.5480554 1
x6 10 x8 15 53.6547694 1
x6 11 x8 0 56.8355874 1
x6 11 x8 1 56.9542734 2
x6 11 x8 2 60.4195314 3
x6 11 x8 3 56.7302474 3
x6 11 x8 4 55.6968014 2
x6 11 x8 5 59.3860854 2
x6 11 x8 6 57.9877194 3
x6 11 x8 7 55.8021414 3
x6 11 x8 8 57.9877194 2
x6 11 x8 9 59.3860854 3
x6 11 x8 10 56.7302474 2
x6 11 x8 11 56.8355874 3
x6 11 x8 12 56.9542734 2
x6 11 x8 13 60.4195314 3
x6 11 x8 14 55.6968014 2
x6 11 x8 15 55.8021414 3
x6 12 x8 0 56.8355874 1
x6 12 x8 1 57.1288834 1
x6 12 x8 2 58.7729874 1
x6 12 x8 3 59.0662834 1
x6 12 x8 4 55.6436814 3
x6 12 x8 5 53.6122094 2
x6 12 x8 6 55.5494254 3
x6 12 x8 7 54.9836894 1
x6 12 x8 8 55.2769854 1
x6 12 x8 9 56.9210894 1
x6 12 x8 10 55.0879814 0
x6 12 x8 11 56.1468814 3
x6 12 x8 12 53.1505814 1
x6 12 x8 13 56.0526254 3
x6 12 x8 14 57.2143854 0
x6 12 x8 15 53.7064654 3
x6 13 x8 0 56.8355874 1
x6 13 x8 1 58.1253694 2
x6 13 x8 2 61.0492434 3
x6 13 x8 3 59.6172114 3
x6 13 x8 4 58.5320694 2
x6 13 x8 5 59.9641014 2
x6 13 x8 6 59.2105114 3
x6 13 x8 7 57.7784794 2
x6 13 x8 8 59.2105114 2
x6 13 x8 9 59.9641014 3
x6 13 x8 10 59.6172114 2
x6 13 x8 11 56.8355874 3
x6 13 x8 12 58.1253694 2
x6 13 x8 13 61.0492434 3
x6 13 x8 14 58.5320694 2
x6 13 x8 15 57.7784794 2
x6 14 x8 0 56.8355874 1
x6 14 x8 1 58.8008334 1
x6 14 x8 2 61.8992054 3
x6 14 x8 3 55.5803594 1
x6 14 x8 4 53.4594174 0
x6 14 x8 5 55.0608254 2
x6 14 x8 6 57.875498 3
x6 14 x8 7 55.0630274 1
x6 14 x8 8 57.0282734 1
x6 14 x8 9 59.3794514 3
x6 14 x8 10 55.2319774 0
x6 14 x8 11 56.4872054 1
x6 14 x8 12 58.4524514 1
x6 14 x8 13 57.5805794 3
x6 14 x8 14 53.8077994 0
x6 14 x8 15 54.7146454 1
x6 15 x8 0 56.8355874 1
x6 15 x8 1 55.3363074 3
x6 15 x8 2 60.2475454 3
x6 15 x8 3 58.7482654 3
x6 15 x8 4 57.7412494 2
x6 15 x8 5 59.2405294 2
x6 15 x8 6 55.507864 1
x6 15 x8 7 55.4882474 3
x6 15 x8 8 53.9889674 3
x6 15 x8 9 58.9002054 3
x6 15 x8 10 59.0885894 2
x6 15 x8 11 57.1759114 3
x6 15 x8 12 55.6766314 3
x6 15 x8 13 60.5878694 3
x6 15 x8 14 57.4009254 2
x6 15 x8 15 55.8285714 3

### Case 4. var0 and var3 (Cont 1 and Ord 1)

In [16]:
for i in unique_X0:
    for j in unique_X3: 
        X_Search = df.copy()[['Cont1','Ord1','A','Y']];
        X_Search['C1'] = df['Cont1'].apply(lambda x : 1 if x<i else 0)
        X_Search['C2'] = df['Ord1'].apply(lambda x : 1 if x<j else 0)
        X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
        X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
        X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
        X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)
        X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
        X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
        X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
        X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)
        E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
        E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
        E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
        E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
        E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
        index, value = max(enumerate(E), key=operator.itemgetter(1))
        print("x0 "+str(i)+" x3 "+str(j),value,index)

x0 1 x3 1 57.6648694 3
x0 1 x3 2 57.9854954 3
x0 1 x3 3 57.0129174 3
x0 1 x3 4 57.0129174 3
x0 1 x3 5 56.8355874 0
x0 2 x3 1 57.4341794 3
x0 2 x3 2 56.9004674 3
x0 2 x3 3 55.9278894 3
x0 2 x3 4 55.5853834 2
x0 2 x3 5 56.8355874 0
x0 3 x3 1 59.7325734 3
x0 3 x3 2 57.3042194 3
x0 3 x3 3 57.4180754 3
x0 3 x3 4 56.6770534 0
x0 3 x3 5 56.8355874 0
x0 4 x3 1 59.0946554 3
x0 4 x3 2 56.6663014 3
x0 4 x3 3 56.7801574 3
x0 4 x3 4 57.2379594 0
x0 4 x3 5 56.8355874 0
x0 5 x3 1 58.7674974 3
x0 5 x3 2 57.2304514 3
x0 5 x3 3 58.5263794 3
x0 5 x3 4 55.7505534 3
x0 5 x3 5 56.8355874 0
x0 6 x3 1 56.6193654 3
x0 6 x3 2 54.8829814 3
x0 6 x3 3 57.3463734 3
x0 6 x3 4 53.9871174 0
x0 6 x3 5 56.8355874 0
x0 7 x3 1 55.4967434 3
x0 7 x3 2 57.5667894 1
x0 7 x3 3 53.6055194 0
x0 7 x3 4 57.3868094 0
x0 7 x3 5 56.8355874 0
x0 8 x3 1 55.6521794 1
x0 8 x3 2 56.5391474 1
x0 8 x3 3 55.6471174 0
x0 8 x3 4 59.0158754 0
x0 8 x3 5 56.8355874 0
x0 9 x3 1 60.4943514 0
x0 9 x3 2 59.6073834 0
x0 9 x3 3 58.4540374 0
x0 9 x3 4 58.6335954 0
x0 9 x3 5 58.3572554 1
x0 10 x3 1 56.8355874 0
x0 10 x3 2 56.8355874 0
x0 10 x3 3 56.8355874 0
x0 10 x3 4 56.8355874 0
x0 10 x3 5 56.8355874 0

### Case 5. var1 and var7 (Cont 2 and Nom 2)

In [17]:
for i in unique_X1:
    for j in range(len(sets_X7)):
        X_Search = df.copy()[['Cont2','Nom2','A','Y']];
        X_Search['C1'] = df['Cont2'].apply(lambda x : 1 if x<i else 0)
        X_Search['C2'] = df['Nom2'].apply(lambda x : 1 if x in sets_X7[j] else 0)
        X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
        X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
        X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
        X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)
        X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
        X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
        X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
        X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)
        E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
        E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
        E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
        E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
        E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
        index, value = max(enumerate(E), key=operator.itemgetter(1))
        print("x1 "+str(i)+" x7 "+str(j),value,index)

x1 1 x7 0 58.7514954 2
x1 1 x7 1 58.5519354 3
x1 1 x7 2 59.0502974 3
x1 1 x7 3 60.7666454 3
x1 1 x7 4 59.6640214 2
x1 1 x7 5 57.9476734 2
x1 1 x7 6 58.1377714 3
x1 1 x7 7 60.9987754 2
x1 1 x7 8 59.2824274 2
x1 1 x7 9 58.7840654 2
x1 1 x7 10 61.9113014 2
x1 1 x7 11 57.9802434 3
x1 1 x7 12 59.6965914 3
x1 1 x7 13 60.1949534 3
x1 1 x7 14 58.5193654 2
x1 1 x7 15 59.8541194 2
x1 2 x7 0 59.0625954 2
x1 2 x7 1 59.9901774 3
x1 2 x7 2 59.5971854 3
x1 2 x7 3 62.7517754 3
x1 2 x7 4 59.9751214 2
x1 2 x7 5 59.0776514 3
x1 2 x7 6 58.6846594 3
x1 2 x7 7 62.6553474 2
x1 2 x7 8 59.5007574 2
x1 2 x7 9 59.8937494 2
x1 2 x7 10 63.5678734 2
x1 2 x7 11 58.2464974 2
x1 2 x7 12 60.8062754 3
x1 2 x7 13 60.4132834 3
x1 2 x7 14 59.1590234 2
x1 2 x7 15 61.8392494 2
x1 3 x7 0 57.7005314 2
x1 3 x7 1 57.6443334 2
x1 3 x7 2 59.2373554 3
x1 3 x7 3 59.2935534 3
x1 3 x7 4 59.9420734 2
x1 3 x7 5 59.8858754 2
x1 3 x7 6 57.5403054 2
x1 3 x7 7 59.8282894 2
x1 3 x7 8 59.7720914 2
x1 3 x7 9 57.4265214 2
x1 3 x7 10 62.0698314 2
x1 3 x7 11 59.6118654 3
x1 3 x7 12 59.6680634 3
x1 3 x7 13 62.0136334 3
x1 3 x7 14 57.3703234 3
x1 3 x7 15 57.4841074 3
x1 4 x7 0 60.642852 2
x1 4 x7 1 59.25383 2
x1 4 x7 2 60.2810574 3
x1 4 x7 3 61.6700794 3
x1 4 x7 4 62.615268 2
x1 4 x7 5 61.226246 2
x1 4 x7 6 59.169798 2
x1 4 x7 7 62.4201274 2
x1 4 x7 8 61.0311054 2
x1 4 x7 9 58.9746574 2
x1 4 x7 10 64.3925434 2
x1 4 x7 11 59.5580514 3
x1 4 x7 12 60.9470734 3
x1 4 x7 13 63.0035214 3
x1 4 x7 14 59.892804 2
x1 4 x7 15 59.6976634 2
x1 5 x7 0 61.284578 2
x1 5 x7 1 62.290714 2
x1 5 x7 2 59.8626374 3
x1 5 x7 3 59.263664 2
x1 5 x7 4 63.43647 2
x1 5 x7 5 64.442606 2
x1 5 x7 6 60.40942 2
x1 5 x7 7 61.4781614 2
x1 5 x7 8 62.4842974 2
x1 5 x7 9 59.669054 3
x1 5 x7 10 63.6300534 2
x1 5 x7 11 61.6091394 3
x1 5 x7 12 60.6030034 3
x1 5 x7 13 64.6361894 3
x1 5 x7 14 59.4572474 3
x1 5 x7 15 61.415556 3
x1 6 x7 0 56.8355874 1
x1 6 x7 1 56.012642 2
x1 6 x7 2 58.0710854 3
x1 6 x7 3 57.0649494 3
x1 6 x7 4 58.071088 2
x1 6 x7 5 59.077224 2
x1 6 x7 6 56.83559 2
x1 6 x7 7 59.6320814 2
x1 6 x7 8 60.6382174 2
x1 6 x7 9 58.3965834 2
x1 6 x7 10 62.6966634 2
x1 6 x7 11 62.4673014 3
x1 6 x7 12 61.4611654 3
x1 6 x7 13 63.7027994 3
x1 6 x7 14 59.4027194 3
x1 6 x7 15 57.841726 3
x1 7 x7 0 56.8355874 1
x1 7 x7 1 55.1892954 3
x1 7 x7 2 55.3506694 3
x1 7 x7 3 55.1865754 0
x1 7 x7 4 55.6746594 1
x1 7 x7 5 53.258824 2
x1 7 x7 6 53.09745 2
x1 7 x7 7 57.6491854 1
x1 7 x7 8 54.1119894 2
x1 7 x7 9 53.9506154 2
x1 7 x7 10 56.9268134 2
x1 7 x7 11 60.0580234 3
x1 7 x7 12 58.4117314 3
x1 7 x7 13 58.5731054 3
x1 7 x7 14 55.5969074 3
x1 7 x7 15 56.3475034 1
x1 8 x7 0 56.8355874 1
x1 8 x7 1 54.5718434 1
x1 8 x7 2 53.5344754 0
x1 8 x7 3 55.7982194 0
x1 8 x7 4 56.1796954 1
x1 8 x7 5 53.9159514 1
x1 8 x7 6 54.1903674 0
x1 8 x7 7 57.6491854 1
x1 8 x7 8 55.3854414 1
x1 8 x7 9 54.1191254 1
x1 8 x7 10 56.9932934 1
x1 8 x7 11 59.9514154 3
x1 8 x7 12 56.0204994 3
x1 8 x7 13 55.1648854 3
x1 8 x7 14 54.9852634 3
x1 8 x7 15 56.4541114 1
x1 9 x7 0 56.8355874 1
x1 9 x7 1 55.6709794 1
x1 9 x7 2 55.8233894 1
x1 9 x7 3 56.5947014 0
x1 9 x7 4 55.9528834 1
x1 9 x7 5 56.4652074 0
x1 9 x7 6 56.3127974 0
x1 9 x7 7 57.2026674 1
x1 9 x7 8 56.0380594 1
x1 9 x7 9 56.1904694 1
x1 9 x7 10 56.3199634 1
x1 9 x7 11 58.4816034 3
x1 9 x7 12 55.9457174 1
x1 9 x7 13 56.0981274 1
x1 9 x7 14 56.2276214 1
x1 9 x7 15 57.4774054 1
x1 10 x7 0 56.8355874 0
x1 10 x7 1 56.8355874 0
x1 10 x7 2 56.8355874 0
x1 10 x7 3 56.8355874 0
x1 10 x7 4 56.8355874 0
x1 10 x7 5 56.8355874 0
x1 10 x7 6 56.8355874 0
x1 10 x7 7 56.8355874 0
x1 10 x7 8 56.8355874 0
x1 10 x7 9 56.8355874 0
x1 10 x7 10 56.8355874 0
x1 10 x7 11 58.7563414 3
x1 10 x7 12 56.8355874 0
x1 10 x7 13 56.8355874 0
x1 10 x7 14 56.8355874 0
x1 10 x7 15 56.8355874 0

### Case 6. var5 and var8 (Ord 3 and Nom 3)

In [18]:
for i in unique_X5:
    for j in range(len(sets_X8)):
        X_Search = df.copy()[['Ord3','Nom3','A','Y']];
        X_Search['C1'] = df['Ord3'].apply(lambda x : 1 if x<i else 0)
        X_Search['C2'] = df['Nom3'].apply(lambda x : 1 if x in sets_X7[j] else 0)
        X_Search['D1'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==1) else 0, axis=1)
        X_Search['D2'] = X_Search.apply(lambda row: 1 if (row['C1']==1)&(row['C2']==0) else 0, axis=1)
        X_Search['D3'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==1) else 0, axis=1)
        X_Search['D4'] = X_Search.apply(lambda row: 1 if (row['C1']==0)&(row['C2']==0) else 0, axis=1)
        X_Search['E1'] = np.where(X_Search['D1']==X_Search['A'], 1, 0)
        X_Search['E2'] = np.where(X_Search['D2']==X_Search['A'], 1, 0)
        X_Search['E3'] = np.where(X_Search['D3']==X_Search['A'], 1, 0)
        X_Search['E4'] = np.where(X_Search['D4']==X_Search['A'], 1, 0)
        E_X_Search_1 = sum(X_Search['Y']*X_Search['E1'])*2/df.shape[0]
        E_X_Search_2 = sum(X_Search['Y']*X_Search['E2'])*2/df.shape[0]
        E_X_Search_3 = sum(X_Search['Y']*X_Search['E3'])*2/df.shape[0]
        E_X_Search_4 = sum(X_Search['Y']*X_Search['E4'])*2/df.shape[0]
        E = [E_X_Search_4,E_X_Search_3,E_X_Search_2,E_X_Search_1]
        index, value = max(enumerate(E), key=operator.itemgetter(1))
        print("x5 "+str(i)+" x8 "+str(j),value,index)

x5 1 x8 0 58.0366794 2
x5 1 x8 1 57.8621374 2
x5 1 x8 2 59.0214434 3
x5 1 x8 3 59.1959854 3
x5 1 x8 4 57.6123654 3
x5 1 x8 5 57.7869074 3
x5 1 x8 6 59.7982214 3
x5 1 x8 7 59.5566934 2
x5 1 x8 8 59.3821514 2
x5 1 x8 9 57.5014294 3
x5 1 x8 10 58.7799154 2
x5 1 x8 11 58.4527494 2
x5 1 x8 12 58.2782074 2
x5 1 x8 13 58.6053734 3
x5 1 x8 14 57.6759714 2
x5 1 x8 15 59.9727634 2
x5 2 x8 0 56.8355874 1
x5 2 x8 1 55.4220354 3
x5 2 x8 2 59.9575214 1
x5 2 x8 3 55.4930754 1
x5 2 x8 4 52.4219834 3
x5 2 x8 5 53.8409854 0
x5 2 x8 6 54.652078 1
x5 2 x8 7 55.5080074 3
x5 2 x8 8 54.0944554 3
x5 2 x8 9 56.9927874 1
x5 2 x8 10 52.6280394 2
x5 2 x8 11 55.3203814 3
x5 2 x8 12 53.9068294 3
x5 2 x8 13 56.8057194 1
x5 2 x8 14 52.8156654 2
x5 2 x8 15 53.9928014 3
x5 3 x8 0 56.8355874 1
x5 3 x8 1 54.0410294 1
x5 3 x8 2 58.7536434 3
x5 3 x8 3 55.6702034 3
x5 3 x8 4 53.6305674 2
x5 3 x8 5 56.7140074 2
x5 3 x8 6 53.387616 1
x5 3 x8 7 57.2180714 3
x5 3 x8 8 54.1346314 3
x5 3 x8 9 59.1361274 3
x5 3 x8 10 53.2480834 2
x5 3 x8 11 54.5906994 1
x5 3 x8 12 52.7901394 2
x5 3 x8 13 56.3315234 3
x5 3 x8 14 56.0526874 2
x5 3 x8 15 54.7959514 3
x5 4 x8 0 56.8355874 1
x5 4 x8 1 56.7289794 1
x5 4 x8 2 59.3005314 3
x5 4 x8 3 56.1071794 1
x5 4 x8 4 54.1312434 1
x5 4 x8 5 54.2606314 2
x5 4 x8 6 53.5094434 1
x5 4 x8 7 54.9065134 3
x5 4 x8 8 54.3657394 1
x5 4 x8 9 57.3714574 3
x5 4 x8 10 54.5509974 0
x5 4 x8 11 55.2794054 1
x5 4 x8 12 55.1727974 1
x5 4 x8 13 56.1897054 3
x5 4 x8 14 53.7439394 0
x5 4 x8 15 53.4028354 0
x5 5 x8 0 56.8355874 0
x5 5 x8 1 56.8355874 0
x5 5 x8 2 58.6787314 3
x5 5 x8 3 56.8355874 0
x5 5 x8 4 56.8355874 0
x5 5 x8 5 56.8355874 0
x5 5 x8 6 56.8355874 0
x5 5 x8 7 56.8355874 0
x5 5 x8 8 56.8355874 0
x5 5 x8 9 56.8355874 0
x5 5 x8 10 56.8355874 0
x5 5 x8 11 56.8355874 0
x5 5 x8 12 56.8355874 0
x5 5 x8 13 56.8355874 0
x5 5 x8 14 56.8355874 0
x5 5 x8 15 56.8355874 0